<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Трекер цен</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/slider.css">

    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="/js/scripts.js" defer></script>
    <script src="/js/slider.js" defer></script>
</head>
<body>

<div id="main-container">
    <!-- Список категорий -->
    <div id="category-container">
        <h3>Список категорий</h3>
        <ul id="category-list">
            <li th:each="category : ${data.keySet()}"
                th:attr="data-category=${category}">
                <a>
                    <span th:text="${category}"></span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Контейнер контента (таблица, фильтры, график) -->
    <section id="content-container">
        <!-- Блок таблицы товаров -->
        <div id="table-container">
            <h3>Таблица товаров: <span id="selected-table"></span></h3>
            <div id="scrollable-table-container">
                <table id="product-table">
                    <thead>
                    <tr>
                        <th>Ссылка</th>
                        <th>Последняя цена</th>
                        <th>Разница цен</th>
                        <th>%</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Данные загружаются через JS -->
                    </tbody>
                </table>
            </div>

            <!-- Индикатор загрузки -->
            <div id="progress-container" style="display: none">
                <progress id="loading-bar" value="0" max="100"></progress>
                <p id="loading-text"></p>
            </div>
        </div>

        <!-- Блок фильтров -->
        <aside id="filters-container">
            <!-- Выбор режима сравнения цен -->
            <div id="price-diff-options">
                <h3>Выбор режима сравнения цен:</h3>
                <label class="radio-button">
                    <input type="radio" name="diffOption" value="start-last" checked="checked"> Первая-последняя
                </label>
                <label class="radio-button">
                    <input type="radio" name="diffOption" value="penultimate-last"> Предпоследняя-последняя
                </label>
            </div>

            <!-- Фильтр цен -->
            <h3>Фильтр цен в диапазоне:</h3>
            <div id="sliders">
                <div>
                    <section class="range-slider">
                        <label>Последняя цена:</label>
                        <span class="rangeValues"></span>
                        <input value="0" min="0" max="50000" step="1" type="range">
                        <input value="50000" min="0" max="50000" step="1" type="range">
                    </section>
                </div>
                <div>
                    <section class="range-slider">
                        <label>Разница цен:</label>
                        <span class="rangeValues"></span>
                        <input value="0" min="0" max="50000" step="1" type="range">
                        <input value="50000" min="0" max="50000" step="1" type="range">
                    </section>
                </div>
            </div>

            <!-- Фильтр ссылок -->
            <div>
                <h3>Фильтр ссылок:</h3>
                <input type="text" id="filterInput" placeholder="Введите текст для фильтрации...">
            </div>

            <div id="apply-container">
                <button id="apply-button">Применить фильтры</button>
            </div>

            <!-- График изменения цен -->
            <div id="chart-container">
                <h3>График изменения цен</h3>
                <canvas id="priceChart"></canvas>
            </div>
        </aside>
    </section>
</div>

<!-- Подгрузка данных извлечённых из таблицы -->
<script th:inline="javascript">
    const data = /*[[${data}]]*/ {};
</script>

</body>
</html>