<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Трекер цен</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="/scripts.js" defer></script>
</head>
<body>
<div id="main-container">
    <!-- Таблица -->
    <div id="table-container">
        <h3>Данные товаров для таблицы: <span id="selected-table"></span></h3>
        <div id="scrollable-table-container">
            <table id="product-table">
                <thead>
                <tr>
                    <th>Ссылка</th>
                    <th>Последняя цена</th>
                    <th>Разница цен</th>
                </tr>
                </thead>
                <tbody>
                <!-- Таблица будет заполняться через JS -->
                </tbody>
            </table>
        </div>

        <div id="progress-container" style="display: none">
            <progress id="loading-bar" value="0" max="100"></progress>
            <p id="loading-text"></p>
        </div>
    </div>

    <!-- Блок справа -->
    <div id="side-container">
        <!-- Список категорий -->
        <div id="category-container">
            <h3>Список категорий</h3>
            <ul id="category-list">
                <li th:each="category : ${data.keySet()}"
                    th:attr="data-category=${category}"
                    onclick="showTable(this)">
                    <a href="javascript:void(0);">
                        <span th:text="${category}"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- График -->
        <div id="chart-container">
            <h3>График</h3>
            <canvas id="priceChart"></canvas>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const data = /*[[${data}]]*/ {};
</script>

</body>
</html>